/* navigation-sidebar*/
#sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--theme-clr-blue);
    z-index: 100;
    transition: var(--theme-transition);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;

    &.sidebarCollapsed {
        --sidebar-width: 90px;
    }

    .navbar-theme-brand {
        height: var(--header-height);
        border-bottom: 1px solid rgba(255, 255, 255, .175);
    }

    .navbar-scrollable {
        display: block;
        max-height: var(--max-height);
        overflow-x: auto;
        padding-right: 20px;
        max-height: calc(100vh - 125px);

        &::-webkit-scrollbar-track {
            background-color: var(--theme-clr-gray);
            border-radius: 20px;
        }
    
        &::-webkit-scrollbar {
            width: 7px;
            background-color: var(--theme-clr-gray);
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: var(--theme-clr-blue-solid);
            border: 2px solid var(--theme-clr-blue-solid);
            border-radius: 10px;
        }
    }

    .navbar-nav {
        .nav-item {
            &.dropdown {
                .dropdown-menu {
                    position: static !important;
                    transform: initial !important;
                    background: linear-gradient(90deg, rgba(255, 255, 255, .15) 0%, #000077 78.24%);
                    border-radius: 20px;

                    >li {
                        .dropdown-item {
                            color: #C4CEFE;
                            font-size: 14px;
                            font-weight: 400;
                            transition: all .3s;

                            &:hover ,
                            &:focus ,
                            &:active,
                            &.is-active {
                                background-color: transparent;
                                color: var(--status-clr-green);
                            }
                        }
                    }
                }
            }

            .nav-link {
                font-size: 14px;
                color: var(--theme-clr-blue-light);
                display: flex;
                align-items: center;
                height: 50px;
                padding-left: 15px;
                border-radius: 25px;
                transition: all .3s;
                font-weight: 500;
                display: grid;
                grid-template-columns: 35px 1fr;

                &.is-active {
                    background: linear-gradient(90deg, rgba(255, 255, 255, .2) 0%, #000077 78.24%);
                    color: var(--bs-white);
                }

                .nav-icon {
                    width: 25px;
                }

                &:hover {
                    background: linear-gradient(90deg, rgba(255, 255, 255, .2) 0%, #000077 78.24%);
                    box-shadow: none;
                    outline: none;
                }

                &.dropdown-toggle {

                    &::after {
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        position: absolute;
                        top: 15px;
                        right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 0;
                        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cline x1='0.75' y1='4.96387' x2='9.25' y2='4.96387' stroke='%23C4CEFE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='5.03516' y1='0.75' x2='5.03516' y2='9.25' stroke='%23C4CEFE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: 12px;
                        background-position: center;
                    }

                    &.show {

                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.75' y1='0.963867' x2='9.25' y2='0.963868' stroke='%23C4CEFE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                        }
                    }
                }
            }


        }
    }

    .company-block {
        .btn-block {
            font-size: 13px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            border-bottom: 1px solid rgba(255, 255, 255, .175);
        }

        .company-block-list {
            .company-block-list-item {
                background-color: #0E167E;

                .company-block-name {
                    font-size: 14px;
                    font-weight: 500;
                    border-bottom: 1px solid rgba(255, 255, 255, .15) !important;
                }

                .company-block-info {
                    --grid-width: 32px;
                    display: grid;
                    grid-template-columns: var(--grid-width) 1fr;
                    grid-gap: 10px;
                    font-size: 16px;

                    >img.company-img {
                        width: var(--grid-width);
                        height: var(--grid-width);
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}

/* navigation-sidebar - END*/