/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./assets/fonts/biennale/stylesheet.css');
@import url('http://fonts.cdnfonts.com/css/boston');
@import url('./assets/fonts/nioicon.css');
/* fonts import - END */


/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F5F6FA;
    font-family: 'Biennale';
    --theme-gutter: 40px;
    --sidebar-width: 250px;
    --header-height: 70px;
    --theme-transition: all 0.3s linear;
}

:root {
    --theme-clr-blue: #000077;
    --theme-clr-blue-solid: #6576FF;
    --theme-clr-green: #8addc1;
    --theme-clr-maroon: #FFA6A6;
    --theme-clr-gray: #e8eff6;

    --theme-clr-blue-light: #c4cefe;
    --theme-clr-green-light: #dbf5e7;
    --theme-clr-gray-light: #f2f6fa;
    --status-clr-yellow-light: #FDF0CF;

    --text-clr-black: #2d405a;
    --text-clr-gray-dark: #56606d;
    --text-clr-gray: #79828d;
    --status-clr-yellow: #ffb13b;
    --status-clr-red: #ff5050;
    --status-clr-green: #54cc8b;
}

.container-fluid {
    padding-left: var(--theme-gutter);
    padding-right: var(--theme-gutter);
}

/* reset, root  - END */




/* helper , base classes */
.text-clr-blue {
    color: var(--theme-clr-blue);
}

.text-clr-blue-solid {
    color: var(--theme-clr-blue-solid);
}

.text-clr-green {
    color: var(--status-clr-green);
}

.text-clr-red {
    color: var(--status-clr-red);
}

.text-clr-maroon {
    color: var(--theme-clr-maroon);
}

.text-clr-blue-light {
    color: var(--theme-clr-blue-light);
}



.bg-clr-blue {
    background-color: var(--theme-clr-blue);
}

.bg-clr-blue-solid {
    background-color: var(--theme-clr-blue-solid);
}

.bg-clr-green {
    background-color: var(--status-clr-green);
}

.bg-clr-maroon {
    background-color: var(--theme-clr-maroon);
}



.bg-clr-blue-light {
    background-color: var(--theme-clr-blue-light);
}

.bg-clr-green-light {
    background-color: var(--theme-clr-green-light);
}

.bg-clr-yellow-light {
    background-color: var(--status-clr-yellow-light);
}



.is-drop-shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
}

.is-theme-radius {
    border-radius: 10px;
}

.is-theme-lg-radius {
    border-radius: 20px;
}

.is-theme-xl-radius {
    border-radius: 30px;
}

.is-theme-xxl-radius {
    border-radius: 40px;
}

.table-layout-fixed {
    table-layout: fixed;
}

.btn,
.form-control,
.form-select {
    transition: var(--theme-transition);

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.border,
.border-start,
.border-end,
.border-top,
.border-bottom {
    border-color: #f0f1f2;
}


.btn-jifie {
    background-color: var(--theme-clr-green);
    font-weight: 500;

    &:hover {
        background-color: var(--status-clr-green);
    }
}


.border-thin-color {
    border-color: rgba(255, 255, 255, .175);
}

.select-summary {
    --width: 120px;
    --height: 36px;
    width: var(--width);
    height: var(--height);
    font-size: 13px;
    font-weight: 500;
    color: var(--text-clr-gray-dark);

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.nav-pills {
    &.nav-pills-outline {
        border-bottom: 2px solid #EBEBF4;

        .nav-link {
            font-size: 16px;
            font-weight: 500;
            color: var(--text-clr-gray-dark) !important;
            background-color: transparent;
            border-radius: 0;
            padding-bottom: 15px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: var(--theme-clr-blue);
                height: 2px;
                display: none;
            }

            &.active {
                font-weight: 700;
                background-color: transparent;
                color: var(--theme-clr-blue) !important;

                &::after {
                    display: block;
                }
            }
        }
    }
}

.badge {
    font-size: 13px;
    font-weight: 500;

    &.bg-success {
        background-color: #DEFFF9 !important;
        color: var(--status-clr-green);
    }

    &.bg-warning {
        background-color: #FFF6DE !important;
        color: var(--status-clr-yellow);
    }

    &.bg-danger {
        background-color: #FFDEDE !important;
        color: var(--status-clr-red);
    }
}


.is-scrollable {
    display: block;
    max-height: var(--max-height);
    overflow-x: auto;
    padding-right: 20px;

    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #b0b4ba;
        border: 2px solid #b0b4ba;
        border-radius: 10px;
    }
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    color: #2D405A;
}

.form-control,
.form-select {
    --height: 45px;
    height: var(--height);
    border-radius: 10px;
    border: 1px solid #DDE1E5;
    color: var(--theme-clr-gray-dark);
}


.appIcon-buffet {
    --size: 50px;
    height: var(--size);
    width: var(--size);
    border-radius: 100%;
    display: grid;
    place-items: center;
}


.spill-down-action {
    display: inline-flex;
    position: relative;
    padding-right: 5px;

    .btn {
        width: 40px !important;
        height: 40px !important;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8896A8;
    }

    >.dropdown-menu {
        min-width: 150px;
        right: 0 !important;
        border: 0;
        box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        right: 0 !important;
        top: 100% !important;
        left: initial !important;
        transform: initial !important;

        &::after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background-color: #fff;
            position: absolute;
            right: 16px;
            top: -6px;
            z-index: 10;
            transform: rotate(45deg);
            clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
        }

        .dropdown-item {
            transition: all linear .1s;
            border-radius: 0px;
            padding: 7px 20px;
            display: inline-block;
            color: var(--color-gray);
            font-size: 14px;
            font-weight: 400;

            &:hover {
                color: var(--theme-clr-blue-solid);
                background-color: #F5F0FF;

                svg {
                    * {
                        stroke: var(--theme-clr-blue-solid);
                    }
                }
            }
        }
    }
}

main#dashboard {
    padding-top: calc(var(--header-height) + 30px);
    padding-bottom: calc(var(--header-height) - 30px);
    padding-left: var(--sidebar-width);
    transition: var(--theme-transition);
}

.form-check-input {
    &:checked {
        background-color: var(--status-clr-green);
        border-color: var(--status-clr-green) !important;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

/* helper , base classes - END  */



/* vue-final-modal  */
.vfm--fixed {

    .vue-modal-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        --min-height: 200px;

        &.vue-modal-sm {
            --max-width: 580px;
        }

        &.vue-modal-md {
            --max-width: 650px;
        }

        &.vue-modal-lg {
            --max-width: 800px;
        }

        &.vue-modal-xl {
            --max-width: 1000px;
        }

        .vue-modal-content {
            position: relative;
            max-width: var(--max-width);
            width: 100%;
            min-height: var(--min-height);
            padding: 20px;
            padding-top: 40px;
            overflow: auto;
            background-color: #fff;

            .vue-modal-close {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                cursor: pointer;
            }
        }
    }
}

/* vue-final-modal -End */



/* pagination-theme */
.pagination-theme {
    .VuePagination {
        >nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;

            .page-item {
                .page-link {
                    --paginate-size: 40px;
                    width: var(--paginate-size);
                    color: var(--text-clr-gray);
                    font-size: 16px;

                    &.active {
                        background-color: var(--theme-clr-green);
                        border-color: var(--theme-clr-green);
                        color: #fff;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
}

/* pagination-theme -End */